<html ng-app='baseApp'>
	<head>
		<title>test form page</title>
		
	</head>
	<body ng-controller='formController' ng-init='init()'>

		<form ng-submit='submit()'>
			<input type="text" ng-model='username'></input>
			<br/>
			<input type="password" ng-model='password'></input>
			<button ng-click='clear()'>clear</button>
			<br/>
			<button>submit</button>
		</form>

		<div>
			<label>check rego number</label>
			<br/>
			<input type="text" ng-model='regoNumber'></input>
		</div>


		<script type="text/javascript" src="../lib/angular.js"></script>
		<script type="text/javascript" src="../js/base.app.js"></script>
		<script type="text/javascript" src="../js/form.js"></script>
	</body>
</html>
