<html ng-app='baseApp'>
	<head>
		<title>test form page</title>
	</head>
	<body ng-controller='formController' ng-init='init()'>
		<h1>Sign Up</h1>	
		<span ng-bind='message'></span>
		<form name="addUserForm" ng-submit='addUser()'>
			<div>
				<label>First name: </label>
				<input ng-model="user.first" required>
			</div>
			<div>
				<label>Last name: </label>
				<input ng-model="user.last" required>
			</div>

			<div>
				<label>Email: </label>
				<input ng-model="user.email" required>
			</div>

			<div>
				<label>Age: </label>
				<input ng-model="user.age" type="number" ng-maxlength='3' ng-minlength='1' required>
			</div>

			<button ng-disabled='!addUserForm.$valid' ng-click='addUser()'>submit</button>
		</form>

		<script type="text/javascript" src="../lib/angular.js"></script>
		<script type="text/javascript" src="../js/base.app.js"></script>
		<script type="text/javascript" src="../js/form.js"></script>
	</body>
</html>
